<mat-card>
  <form #supplyChainForm="ngForm" (ngSubmit)="save()">
    <mat-card-header>
      <mat-card-title><h2>Add a Supply Chain</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input matInput type="number" placeholder="Boxes capacity" [(ngModel)]="parameter.boxesCapacity"
               required name="boxesCapacity" #boxesCapacity>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Articles sizes" [(ngModel)]="parameter.articlesSizes"
               required name="articlesSizes" #articlesSizes>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="!supplyChainForm.form.valid">Save</button>
      <a mat-button routerLink="/supply-chain-list">Cancel</a>
    </mat-card-actions>
  </form>
</mat-card>
