<mat-card>
  <mat-card-header>Supply Chain List</mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let supplyChain of supplyChains">
        {{supplyChain.initialArticlesSizes}} ({{supplyChain.boxesCapacity}}) : <span *ngFor="let box of supplyChain.boxes">[<span *ngFor="let article of box.articles">{{article.size}}</span>,]</span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>

  <button mat-fab color="primary" [routerLink]="['/supply-chain-add']">Add</button>
</mat-card>
