<mat-card>
  <mat-card-header>
    <h2>Supply Chain List</h2><button mat-fab color="primary" [routerLink]="['/supply-chain-add']">Add</button>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let supplyChain of supplyChains">
          <mat-card>{{supplyChain.initialArticlesSizes}} ({{supplyChain.boxesCapacity}})</mat-card>
          <mat-card *ngFor="let box of supplyChain.boxes"><span *ngFor="let article of box.articles; let last = last">{{article.size}}<span *ngIf="!last">,</span></span></mat-card>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
